CollectIt.Web/Service References/ChannelService/ChannelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57725/ChannelService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfChannelContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelContract" nillable="true" type="tns:ChannelContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelContract" nillable="true" type="tns:ArrayOfChannelContract" />
  <xs:complexType name="ChannelContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Filters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSubscribing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelContract" nillable="true" type="tns:ChannelContract" />
</xs:schema>