CollectIt.Web/Service References/ItemService/ItemService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57725/ItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" />
  <xs:element name="All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" minOccurs="0" name="AllResult" nillable="true" type="q1:ArrayOfItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Latest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" minOccurs="0" name="LatestResult" nillable="true" type="q2:ArrayOfItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" minOccurs="0" name="QueryResult" nillable="true" type="q3:ArrayOfItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>