CollectIt.Web/Service References/ItemService/ItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemContract" nillable="true" type="tns:ItemContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemContract" nillable="true" type="tns:ArrayOfItemContract" />
  <xs:complexType name="ItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PublishedDateRFC822" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemContract" nillable="true" type="tns:ItemContract" />
</xs:schema>