CollectIt.Web/Service References/SubscriptionService/SubscriptionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CollectIt.WCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubscriptionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscribedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContract" nillable="true" type="tns:SubscriptionContract" />
</xs:schema>